
@{
    ViewBag.Title = "Anasayfa";
}

<!DOCTYPE html>
<html>
@*<title>W3.CSS</title>*@
<meta name="viewport" content="width=device-width, initial-scale=1">
@*<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">*@
<body>
    <h3> Düzce Üniversitesi</h3>
    <h4>Bilgi İşlem Daire Başkanlığı</h4>
    <h2 class="w3-center"></h2>

    <div class="w3-content w3-display-container">
       
        <img class="mySlides" src="~/Content/theme/assets/pages/img/1 (1).jpg" style="width:100%"/>
        <img class="mySlides" src="~/Content/theme/assets/pages/img/b_biliYim.jpg" style="width:100%"/>
        <img class="mySlides" src="~/Content/theme/assets/pages/img/bilisim-sektoru.jpg" style="width:100%"/>
        <img class="mySlides" src="~/Content/theme/assets/pages/img/btm_cover.jpg" style="width:100%"/>
        <img class="mySlides" src="~/Content/theme/assets/pages/img/f2d54c2da0bf4170969ecfd375a509cb.jpg" style="width:100%"/>
        <img class="mySlides" src="~/Content/theme/assets/pages/img/images.jpg" style="width:100%"/>
        <img class="mySlides" src="~/Content/theme/assets/pages/img/show-2_3_4617585.jpg" style="width:100%"/>
    </div>

    <script>
        var slideIndex = 1;
        showDivs(slideIndex);

        function plusDivs(n) {
            showDivs(slideIndex += n);
        }

        function showDivs(n) {
            var i;
            var x = document.getElementsByClassName("mySlides");
            if (n > x.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = x.length }
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            x[slideIndex - 1].style.display = "block";
        }

        var myIndex = 0;
        carousel();

        function carousel() {
            var i;
            var x = document.getElementsByClassName("mySlides");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            myIndex++;
            if (myIndex > x.length) { myIndex = 1 }
            x[myIndex - 1].style.display = "block";
            setTimeout(carousel, 3000); // Change image every 2 seconds
        }
    </script>

</body>
</html>


